.mega-box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 2;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: transparent;
}

.square{
    width: 100px;
    height: 100px;
    background: #3E9C27;
    filter: blur(10px);
    z-index: 2;
    top: 0;
    right: 0;
    margin: 6% 40% 0 0;
    position: absolute;
}

.square-2{
    width: 100px;
    height: 100px;
    background: #3E9C27;
    filter: blur(10px);
    z-index: 2;
    top: 0;
    right: 0;
    margin: 40% 15% 0 0;
    position: absolute;
}


.box-recover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40vh;
    position: absolute;
    background: white;
    margin-left: 5%;
}

.box-recover h1 {
    color: #000;
    text-align: center;
    font-family: Patua One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box-recover form {
    font-family: Comfortaa;
    width: 60%;

}

.box-recover .box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
}

.box-recover .box input{
    height: 35px;
    width: 100%;
    border-width: 1px;
    font-family: Comfortaa;
    border-radius: 5px;
}

.box-recover .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.box-recover .btn button{
    background: linear-gradient(90deg, #B6FFAA 2.02%, #8CDC79 91.57%);
    width: 80%;
    font-family: Patua One;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    position: relative;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: none;
}